MONGODB_URI=mongodb://localhost:27017/ecommerce
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
JWT_SECRET=your_jwt_secret

# Email Configuration for Nodemailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password







# # Email Configuration for Nodemailer
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USER=hassanofficial414@gmail.com
# EMAIL_PASS=npja xbdq cuhw bsyt
# PORT=4000
# MONGODB_URI=mongodb://Hassan:eScvYaUKnIZZzj4H@ac-xbrx6kp-shard-00-00.jddkozi.mongodb.net:27017,ac-xbrx6kp-shard-00-01.jddkozi.mongodb.net:27017,ac-xbrx6kp-shard-00-02.jddkozi.mongodb.net:27017/?replicaSet=atlas-9rqv5p-shard-0&ssl=true&authSource=admin
# JWT_SECRET=2f9966b978fc4c6b0a4973d6ebec917a60daf30ab7125e1a89b358baa8a27340
# ADMIN_EMAIL=hassanofficial414@gmail.com
# ADMIN_PASSWORD=Hassan123@
# CLOUDINARY_CLOUD_NAME=dhepcgkpg
# CLOUDINARY_API_KEY=452185793888429
# CLOUDINARY_SECRET_KEY=qOkElcZ8I8q9cjbaNeAyILOJMtU